/build
/captures
/.git
/.idea
/.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
local.properties
*.iml
.DS_Store
.externalNativeBuild
.cxx